

#dashboardContentArea{
    position: relative;
    display: block;
    float: left;
    margin-left: 40px;
    padding-top: 40px;
    overflow-y: auto;
}

.dashboardColumn{
    display: inline-block;
    float: left;
}

#dashboardColumn1{
    margin-right: 40px;
}

.DashboardWidget{
    width: 350px;
    margin-bottom: 20px;
}

.DashboardWidget h3{
    margin: 0 0 2px 0;
    font-size: 12px;
    font-family: Arial;
}

.DashboardWidget h4{
    font-weight: normal;
    font-size: 12px;
    font-family: Arial;
}

.DashboardWidget header{
    background: var(--primary-gray);
    color: #ffffff;
    padding: 10px 20px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.DashboardWidget header img{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.DashboardWidget ul{
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #c9c9c9;
    padding: 0;
    overflow-y: auto;
}

.DashboardWidget li{
    float: left;
    display: block;
    width: 90%;
    border-bottom: 1px solid #c9c9c9;
    padding: 10px 5%;
}

.DashboardWidget li:last-child{
    border-bottom: 0;
}

#projectsList{
    height: 400px;
}

#projectsList li{
    
}

#projectsList li img{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

#projectsList li div{
    float: left;
}

#tasksList{
    height: 160px;
}

#recentActivityList{
    height: 160px;
}

