

#registerPageContainer{
    background: var(--primary-gray);
    width: 100%;
    height: 100%;
    position: fixed;
    float: left;
}

#registerContentContainer{
    position: relative;
    float: left;
    height: 100%;
    width: 5000px;
    left: 50%;
    margin-left: -250px;
}

#leftOfRegister, #rightOfRegister{
    display: inline-block;
    position: relative;
    height: 100%;
    float: left;
}

#leftOfRegister{
    margin-right: 60px;
}

#registerPageRightContent{
    height: 540px;
    position: relative;
    top: 50%;
    margin-top: -270px;
}

#registerHeader{
    color: #ffffff !important;
    position: relative;
    height: 110px;
    top: 50%;
    margin-top: -55px;
}

#registerHeader img{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

#registerHeader h1{
    display: block;
    margin: 0 auto 20px 0;
    text-align: center;
}

#registerContent{
    width: 300px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 8px #000000;
}

#registerPageRightContent a{
    color: #ffffff;
    font-family: "Arial";
    display: block;
    width: 230px;
    text-align: center;
    margin: 20px auto 0 auto;
}